* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--primary-color);
  color: var(--sceondary-color);
  line-height: 1.6;
  overflow-x: hidden;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}


a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

a:hover {
  color:  var(--lightorange-color);
}

h1, h2, h3 {
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color:  var(--lightorange-color);
  color: var(--secondary-color);
  padding: 30px 0;
  text-align: center;
}

header p{
  color: var(--primary-color);
}

nav {
  font-family: "Bebas Neue", sans-serif;
  background-color: var(--secondary-color);
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: var(--primary-color);
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

.section {
  padding: 60px 0;
  text-align: center;
}

h2 {
  color: var(--link-color);
  font-size: 36px;
  text-align: center;
}

.user-info{
  font-size: 20px;
  font-family: "Oregano", cursive;
}

.glorious-text{
  font-family: "Oswald", sans-serif;
}

p{
  font-family: "Oregano", cursive;
  font-size: 20px;
  color: var(--secondary-color);
}

.section p {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: "Oregano", cursive;
  color: var(--secondary-color);
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.portfolio-item {
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: translateY(-5px);
}

.portfolio-item h3 {
  margin-bottom: 10px;
  font-size: 24px;
}

.portfolio-item p {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

footer {
  background-color: var(--lightorange-color);
  color: var(--primary-color);
  padding: 20px 0;
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.skill {
  text-align: left;
}

.skill ul {
  list-style: none;
  padding: 0;
}

.skill h3 {
  margin-bottom: 10px;
}

.skill li {
  margin-bottom: 5px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform: skew(-20deg);
  transition: transform 0.3s ease;
}

.image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: skew(20deg);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: skew(-20deg) scale(1.1);
}

.image::before {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image:hover::before {
  opacity: 1;
}

.image::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(20deg);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image:hover::after {
  opacity: 1;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.portfolio-item img:hover {
  transform: scale(1.1);
}

.portfolio-item {
  text-align: center;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin: 0 auto 10px;
}

.portfolio-item h3 {
  margin-bottom: 5px;
}

.portfolio-item p {
  margin-bottom: 10px;
}

.portfolio-item button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.portfolio-item button:hover {
  background-color:  var(--lightorange-color);
}

section {
  margin-top: 20px;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
}

button{
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: var(--lightorange-color);
}
#skills {
  text-align: center;
  margin-top: 20px;
}
.skill {
  margin-bottom: 30px;
}

.skill h3 {
  color: var(--sceondary-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.skill ul {
  list-style-type: none;
  padding: 0;
}

.skill ul li {
  font-family: "Oregano", cursive;
  font-size: 18px;
  margin-bottom: 5px;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .skill {
    width: 50%;
  }
}

#contact {
  text-align: center;
  margin-top: 20px;
}

.contact-info {
  max-width: 600px;
  margin: 0 auto;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 15px;
}

.social-links {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  display: inline-block;
  margin-right: 10px;
}

.social-links li a {
  text-decoration: none;
  color: var(--sceondary-color);
  font-size: 16px;
  transition: color 0.3s;
}

.social-links li a:hover {
  color: var(--lightorange-color);
}

#user-data{
  text-align: center;
}

.portfolio-item {
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
  margin-top: 20px;
}

.portfolio-item h3 {
  font-size: 22px;
  color: var(--secondary-color);
}

.portfolio-item p {
  font-size: 16px;
  color: var(--secondary-color);
}

.portfolio-item button {
  padding: 10px 20px;
  background-color: var(--link-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-item button a {
  color: var(--primary-color);
  text-decoration: none;
}

#icon{
  width: 30px;
  cursor: pointer;
}

.social-links{
  color: var(--link-color);
}

.skills-list{
  color: var(--secondary-color);
}

/* Nightmode */

:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --lightorange-color: rgb(224, 112, 7);
  --orange-color: rgb(144, 76, 13);
  --link-color:black;
  --changed-link:aqua;
}

.dark-theme{
  --primary-color: #212121;
  --secondary-color: #edf2fc;
  --lightorange-color: rgb(144, 76, 13);
  --orange-color: rgb(224, 112, 7);
  --link-color:aqua;
  --changed-link:rgb(226, 216, 216);
}
#theme-toggle {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color);
  position: fixed;
  top: 20px;
  right: 20px;
}

#theme-toggle i {
  transition: color 0.3s ease;
}